<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
    </style>
    <link rel="stylesheet" href="css/style-entrar.css">
    <title>Entrar</title>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div class="nav-container">
                    <a href="/index">
                        <img id="logo" src="images/logo1.png" alt="">
                    </a>
                    <i class="fas fa-bars btn-menumobile"></i>
                    <ul>
                        <li>
                            <a href="/index">
                                <button id="home">Home</button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <button id="vagas">Vagas</button>
                            </a>
                        </li>
                        <li>
                            <a href="/quemSomos">
                                <button id="quem">Quem Somos</button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <button id="colabore">Colabore</button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <button id="entrar">Entrar</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>

    <section>
        <center>
            <fieldset class="field">
                <form action="/efetuarLoginUsuario" method="post">
                    Email: <input type="text" name="email" placeholder="Digite o seu e-mail" />
                    Senha: <input type="password" name="senha" placeholder="Digite a sua senha" />
                    <button type="submit">Entrar</button>
                </form>
                <div>
                    <h3>AINDA NÃO TEM CONTA?</h3>
                    <a href="/cadastroUsuario">
                        <button id="entrar2">Cadastrar</button>
                    </a>
                </div>
                <div>
                    <center>
                        <img class="img2" src="images/linkedin.png" alt="">
                        <img class="img2" src="images/instagram.png" alt="">
                        <img class="img2" src="images/wpp.png" alt="">
                        <img class="img2" src="images/tt.png" alt="">
                </div>
            </fieldset>
        </center>
    </section>
</body>

</html>