<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo-ico.ico" type="image/x-icon">
    <title>Quem Somos</title>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <div class="nav-container">
                    <a href="/index">
                        <img id="logo" src="images/logo1.png" alt="">
                    </a>
                    <i class="fas fa-bars btn-menumobile"></i>
                    <ul>
                        <li>
                            <a href="/index">
                                <button id="home">Home</button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <button id="vagas">Vagas</button>
                            </a>
                        </li>
                        <li>
                            <a href="/quemSomos">
                                <button id="quem">Quem Somos</button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <button id="colabore">Colabore</button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <button id="entrar">Entrar</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
</body>
</html>